DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): Ricardo de Carvalho Neves

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (1,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados aberta que seja possível treinar um modelo de aprendizagem de máquina Supervisionado de Classificação (assim como o exemplo da Iris e Cancer). A partir desta base de dados, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo.
Obs.: Não utilizar nenhuma base de dados usada em aula ou nos trabalhos.
As bases de dados não poderá ser igual a do seu colega, dessa forma, preencha a planilha abaixo dizendo a sua base e seu tema. 
https://forms.gle/CvmN5fr4u2g5zoZRA


** Para saber se já escolheram o mesmo que você, consulte no link abaixo.
https://docs.google.com/spreadsheets/d/1E_GuH7C8vn_o-gyOeN5LavoQlByjVQb1UiVfP71OX3g/edit?usp=sharing

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

In [ ]:
https://drive.google.com/open?id=1DPJ4uRm-pwESaOJ-sslhqHqSFetcTQz-

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (1,0)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [49]:
import pandas as pd

# read CSV file from the 'data' subdirectory using a relative path
data = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/carData/Florida.csv', index_col=0)

2.2 - Exibir os primeiros registros desta tabela.

In [50]:
data.head()

,GORE,BUSH,BUCHANAN,NADER,BROWNE,HAGELIN,HARRIS,MCREYNOLDS,MOOREHEAD,PHILLIPS,Total
ALACHUA,47300,34062,262,3215,658,42,4,658,21,20,86242
BAKER,2392,5610,73,53,17,3,0,0,3,3,8154
BAY,18850,38637,248,828,171,18,5,3,37,18,58815
BRADFORD,3072,5413,65,84,28,2,0,0,3,2,8669
BREVARD,97318,115185,570,4470,643,39,11,11,76,72,218395

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

In [51]:
#É uma base de dados de numero de votos na flórida. O tipo de previsão é de classificação.

# Questão 3 - valor (0,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

 Possui 10 Features.

In [52]:
# create a Python list of feature names
feature_cols = ['GORE','BUSH','BUCHANAN','NADER','BROWNE','HAGELIN','HARRIS','MCREYNOLDS','MOOREHEAD','PHILLIPS']

# use the list to select a subset of the original DataFrame
x = data[feature_cols]

# equivalent command to do this in one line
x = data[['GORE','BUSH','BUCHANAN','NADER','BROWNE','HAGELIN','HARRIS','MCREYNOLDS','MOOREHEAD','PHILLIPS']]

# print the first 5 rows
x.head()

,GORE,BUSH,BUCHANAN,NADER,BROWNE,HAGELIN,HARRIS,MCREYNOLDS,MOOREHEAD,PHILLIPS
ALACHUA,47300,34062,262,3215,658,42,4,658,21,20
BAKER,2392,5610,73,53,17,3,0,0,3,3
BAY,18850,38637,248,828,171,18,5,3,37,18
BRADFORD,3072,5413,65,84,28,2,0,0,3,2
BREVARD,97318,115185,570,4470,643,39,11,11,76,72

In [36]:
# select a Series from the DataFrame
y = data['Deaths']

# equivalent command that works if there are no spaces in the column name
y = data.Deaths

# print the first 5 values
y.head()

Year
2012     21
2016     30
2013     30
2000     23
2014    325
Name: Deaths, dtype: int64

In [53]:
# select a Series from the DataFrame
y = data['Total']

# equivalent command that works if there are no spaces in the column name
y = data.Total;

# print the first 5 values
y.head()

ALACHUA      86242
BAKER         8154
BAY          58815
BRADFORD      8669
BREVARD     218395
Name: Total, dtype: int64

3.2 - Quantas observações têm nessa base de dados?

10296 Observações.

In [25]:
print(data.shape)

(10296, 5)

# Questão 4 - valor (1,5)

4.1 - Faça uma previsão, usando o algoritmo de LogisticRegression.

In [54]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
# fit the model with data
logreg.fit(x,y)
logreg.predict(x)

array([ 86242,   8154,  58815, 168195, 218395, 573306,   5174,  66885,
        57154,  57360,  92122,  18508, 625269,   7807, 353331, 264428,
       116680, 353331, 168195,  14549,   5395, 353331,   6132,   3973,
       168195,   8133,  65219,  34941, 353331,   7343,  49616,  16300,
       102634,   2504, 168195, 184377, 103113,  12730,   2403,   6159,
       110209, 102634,  61852,  33878,  23782,  70605, 168195, 279981,
        55658, 432286, 142713, 396938, 168195, 102634,  60674,  77989,
        50285, 160940, 137044,  22258,  12461,   6801,   3794, 198230,
       102634,  18307,   8026])

# Questão 5 - valor (2,0)

Usando o método de avaliação de acurácia (Treinar e testar na base de dados inteira/Train test entire model), Calcular a acurácia de cada um dos 3 métodos abaixo.

4.1 - Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

In [55]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x, y)
y_pred = knn.predict(x)
print(metrics.accuracy_score(y, y_pred))

1.0

4.2 - Acurácia usando o algoritmo de KNN (com 5 vizinho, k=5)

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x, y)
y_pred = knn.predict(x)
print(metrics.accuracy_score(y, y_pred))

0.029850746268656716

4.3 - Acurácia usando o algoritmo de LogisticRegression

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=4)
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
# STEP 3: make predictions on the testing set
y_pred = logreg.predict(x_test)

In [58]:
print(metrics.accuracy_score(y_test, y_pred))

0.0

4.4 - De acordo com seus resultados anteriores, qual dos 3 métodos é mais eficiente?

O método KNN (Com vizinho K=1)

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom